<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    
    <link rel="stylesheet" href="/homepage/css/style.css">
  </head>
  <body>
    <%- include('../partials/navbar'); %>


    <%- include('../partials/dependencies'); %>
  </body>
</html>